{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('creations_index') }}
{% endblock %}

{% block content %}
    <h1>Nos créations</h1>
    <div class="creation-block">
        <div id="creations">
            {% for project in projects %}
                <a class="project" href="{{ path('creations_view', {slug: project.slug}) }}">
                    <div class="project-presentation">
                        <picture>
                            {% if project.pictureAvif != null %}
                                <source srcset="{{ asset('uploads/image/'~article.pictureAvif) }}" class="article-picture">
                            {% endif %}
                            <img width="100%" height="100%" decoding="async" loading="lazy" src="{{ asset('build/images/test.png') }}" alt="{{ project.name }}">
                        </picture>
                        <span class="project-type">{{ project.type.name }}</span>
                    </div>
                    <div class="project-text">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.summary }}</p>
                        <span class="btn">En voir +</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}